---
import { getCollection } from "astro:content";
import Home from "../layouts/Home.astro";

const posts = await getCollection("blog", ({ data }) =>
    data.tags.includes("Publicacion"),
);

const collections = await getCollection("blog", ({ data }) =>
    data.tags.includes("Coleccion"),
);
const collator = new Intl.Collator(undefined);

function sortPosts(posts: Array<any>) {
    return posts
        .sort((a, b) => collator.compare(a.data.createdAt, b.data.createdAt))
        .reverse();
}

function formatDate(str: string) {
    let date = new Date(str);
    return date.toLocaleString("es-MX", {
        year: "numeric",
        month: "short",
        day: "2-digit",
    });
}
---

<Home title="Archivo">
    <h2>Colecciones</h2>
    <div>
        {
            sortPosts(collections).map((post) => (
                <p>
                    <span class="dateStyle">
                        {formatDate(post.data.createdAt)} ·
                    </span>
                    <i>
                        <a href={post.slug}> {post.data.title} </a>
                    </i>
                </p>
            ))
        }
    </div>
    <h2>Publicaciones</h2>
    <div>
        {
            sortPosts(posts).map((post) => (
                <p>
                    <span class="dateStyle">
                        {formatDate(post.data.createdAt)} ·
                    </span>
                    <i>
                        <a href={post.slug}> {post.data.title} </a>
                    </i>
                </p>
            ))
        }
    </div>
</Home>
